@import '../../variables/colors.scss';

.ring-bg {
  fill: none;
  stroke: $gray;
}

.ring-progress {
  fill: none;
  stroke: $light-blue;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: center center;
  transition: transform 0.5s;
  transform: rotate(-90deg);
}
